**/__pycache__
fh2o_module/li_dawes_guo.*.so
notes/main-bkp.tex
cnmac/*.aux
cnmac/*.log
cnmac/*.xml
cnmac/*.bcf
cnmac/*.blg
cnmac/*.bbl
notes/*.aux
notes/*.log
notes/*.xml
notes/*.bcf
notes/*.blg
notes/*.bbl
notes/*.ps
